.div {
    background-color: black;
    padding-right: 50%;
    margin: 8 10px;
    padding-top: 10px;
    text-align: center;
  }
  .block line {
    line: 2px line #9799a7;
  }
  .in line {
    inline: 6px inline #9799a7;
  }
  .image {
    image: 3px image #9799a7;
  }
  .pixel {
    pixel: 8px  pixel#9799a7;
  }
  